<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GTSUDOKU6</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>GTSudoku6PaidIcon.png</string>
		<string>GTSudoku6PaidIcon~ipad.png</string>
		<string>GTSudoku6PaidIcon-Small-50.png</string>
		<string>GTSudoku6PaidIcon-Small.png</string>
		<string>GTSudoku6PaidIcon-Small@2x.png</string>
		<string>GTSudoku6PaidIcon@2x.png</string>
		<string>GTSudoku6PaidIcon@2x~ipad.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>GTSudoku6PaidIcon.png</string>
				<string>GTSudoku6PaidIcon~ipad.png</string>
				<string>GTSudoku6PaidIcon-Small-50.png</string>
				<string>GTSudoku6PaidIcon-Small.png</string>
				<string>GTSudoku6PaidIcon-Small@2x.png</string>
				<string>GTSudoku6PaidIcon@2x.png</string>
				<string>GTSudoku6PaidIcon@2x~ipad.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.raymond.gtsudoku6</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GTSUDOKU6</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.02</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow</string>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
	<key>UILaunchImageFile~ipad</key>
	<string>Default.png</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
