resource/Xibs 복사본/HelpView.xib
resource/Xibs 복사본/HelpView4iPad.xib
resource/Xibs 복사본/MainView.xib
resource/Xibs 복사본/MainView4iPad.xib
resource/Xibs 복사본/MainView4iPadFree.xib
resource/Xibs 복사본/MainView4iPadFree_Buttom.xib
resource/Xibs 복사본/MainView4iPhone5.xib
resource/Xibs 복사본/MainView4iPhone5Free.xib
resource/Xibs 복사본/MainView4iPhone5_Button.xib
resource/Xibs 복사본/MainViewFree.xib
resource/Xibs 복사본/MainViewFree_Buttom.xib
resource/Xibs 복사본/MainWindow.xib
resource/Xibs 복사본/MainWindow4iPad.xib
resource/Xibs 복사본/ScoreView.xib
resource/Xibs 복사본/ScoreView4iPad.xib
resource/Xibs 복사본/SettingView.xib
resource/Xibs 복사본/SettingView4iPad.xib
resource/Xibs.org/HelpView.xib
resource/Xibs.org/HelpView4iPad.xib
resource/Xibs.org/MainView.xib
resource/Xibs.org/MainView4iPad.xib
resource/Xibs.org/MainView4iPadFree.xib
resource/Xibs.org/MainView4iPadFree_Buttom.xib
resource/Xibs.org/MainView4iPhone5.xib
resource/Xibs.org/MainView4iPhone5Free.xib
resource/Xibs.org/MainView4iPhone5_Button.xib
resource/Xibs.org/MainViewFree.xib
resource/Xibs.org/MainViewFree_Buttom.xib
resource/Xibs.org/MainWindow.xib
resource/Xibs.org/MainWindow4iPad.xib
resource/Xibs.org/ScoreView.xib
resource/Xibs.org/ScoreView4iPad.xib
resource/Xibs.org/SettingView.xib
resource/Xibs.org/SettingView4iPad.xib
resource/Xibs/~MainView4iPad.xib
resource/Xibs/~MainView4iPadFree.xib
resource/Xibs/~MainView4iPhone5.xib
resource/Xibs/~MainView4iPhone5Free.xib
resource/Xibs/~MainViewFree.xib
JMCClasses-14.08.25/Base/JMC.h
JMCClasses-14.08.25/Base/JMC.m
JMCClasses-14.08.25/Base/JMCAttachmentItem.h
JMCClasses-14.08.25/Base/JMCAttachmentItem.m
JMCClasses-14.08.25/Base/JMCCustomDataSource.h
JMCClasses-14.08.25/Base/JMCMacros.h
JMCClasses-14.08.25/Base/JMCViewController.h
JMCClasses-14.08.25/Base/JMCViewController.m
JMCClasses-14.08.25/Base/JMCViewController.xib
JMCClasses-14.08.25/Core/attachments/JMCAttachmentsView.xib
JMCClasses-14.08.25/Core/attachments/JMCAttachmentsViewController.h
JMCClasses-14.08.25/Core/attachments/JMCAttachmentsViewController.m
JMCClasses-14.08.25/Core/attachments/JMCConsoleLogReader.h
JMCClasses-14.08.25/Core/attachments/JMCConsoleLogReader.m
JMCClasses-14.08.25/Core/audio/JMCRecorder.h
JMCClasses-14.08.25/Core/audio/JMCRecorder.m
JMCClasses-14.08.25/Core/crashes/CrashReporter.h
JMCClasses-14.08.25/Core/crashes/CrashReporter.m
JMCClasses-14.08.25/Core/database/JMCDatabase+JMCDatabaseAdditions.h
JMCClasses-14.08.25/Core/database/JMCDatabase+JMCDatabaseAdditions.m
JMCClasses-14.08.25/Core/database/JMCDatabase.h
JMCClasses-14.08.25/Core/database/JMCDatabase.m
JMCClasses-14.08.25/Core/database/JMCResultSet.h
JMCClasses-14.08.25/Core/database/JMCResultSet.m
JMCClasses-14.08.25/Core/image/UIImage+JMCAlpha.h
JMCClasses-14.08.25/Core/image/UIImage+JMCAlpha.m
JMCClasses-14.08.25/Core/image/UIImage+JMCResize.h
JMCClasses-14.08.25/Core/image/UIImage+JMCResize.m
JMCClasses-14.08.25/Core/image/UIImage+JMCRoundedCorner.h
JMCClasses-14.08.25/Core/image/UIImage+JMCRoundedCorner.m
JMCClasses-14.08.25/Core/inbox/JMCIssuePreviewCell.h
JMCClasses-14.08.25/Core/inbox/JMCIssuePreviewCell.m
JMCClasses-14.08.25/Core/inbox/JMCIssuePreviewCell.xib
JMCClasses-14.08.25/Core/inbox/JMCIssueStore.h
JMCClasses-14.08.25/Core/inbox/JMCIssueStore.m
JMCClasses-14.08.25/Core/inbox/JMCIssueViewController.h
JMCClasses-14.08.25/Core/inbox/JMCIssueViewController.m
JMCClasses-14.08.25/Core/inbox/JMCIssueViewController.xib
JMCClasses-14.08.25/Core/inbox/JMCIssuesViewController.h
JMCClasses-14.08.25/Core/inbox/JMCIssuesViewController.m
JMCClasses-14.08.25/Core/inbox/JMCMessageBubble.h
JMCClasses-14.08.25/Core/inbox/JMCMessageBubble.m
JMCClasses-14.08.25/Core/inbox/JMCMessageCell.h
JMCClasses-14.08.25/Core/inbox/JMCMessageCell.m
JMCClasses-14.08.25/Core/inbox/JMCNotifier.h
JMCClasses-14.08.25/Core/inbox/JMCNotifier.m
JMCClasses-14.08.25/Core/model/JMCComment.h
JMCClasses-14.08.25/Core/model/JMCComment.m
JMCClasses-14.08.25/Core/model/JMCIssue.h
JMCClasses-14.08.25/Core/model/JMCIssue.m
JMCClasses-14.08.25/Core/queue/JMCQueueItem.h
JMCClasses-14.08.25/Core/queue/JMCQueueItem.m
JMCClasses-14.08.25/Core/queue/JMCRequestQueue.h
JMCClasses-14.08.25/Core/queue/JMCRequestQueue.m
JMCClasses-14.08.25/Core/sketch/JMCLine.h
JMCClasses-14.08.25/Core/sketch/JMCLine.m
JMCClasses-14.08.25/Core/sketch/JMCShape.h
JMCClasses-14.08.25/Core/sketch/JMCShapeView.h
JMCClasses-14.08.25/Core/sketch/JMCShapeView.m
JMCClasses-14.08.25/Core/sketch/JMCSketch.h
JMCClasses-14.08.25/Core/sketch/JMCSketch.m
JMCClasses-14.08.25/Core/sketch/JMCSketchContainerView.h
JMCClasses-14.08.25/Core/sketch/JMCSketchContainerView.m
JMCClasses-14.08.25/Core/sketch/JMCSketchScrollView.h
JMCClasses-14.08.25/Core/sketch/JMCSketchScrollView.m
JMCClasses-14.08.25/Core/sketch/JMCSketchView.h
JMCClasses-14.08.25/Core/sketch/JMCSketchView.m
JMCClasses-14.08.25/Core/sketch/JMCSketchViewController.h
JMCClasses-14.08.25/Core/sketch/JMCSketchViewController.m
JMCClasses-14.08.25/Core/sketch/JMCSketchViewController.xib
JMCClasses-14.08.25/Core/sketch/JMCSketchViewControllerDelegate.h
JMCClasses-14.08.25/Core/sketch/JMCSketchViewControllerFactory.h
JMCClasses-14.08.25/Core/sketch/JMCSketchViewControllerFactory.m
JMCClasses-14.08.25/Core/sketch/JMCVector.h
JMCClasses-14.08.25/Core/sketch/JMCVector.m
JMCClasses-14.08.25/Core/sketch/JMCVectorView.h
JMCClasses-14.08.25/Core/sketch/JMCVectorView.m
JMCClasses-14.08.25/Core/transport/JMCCrashSender.h
JMCClasses-14.08.25/Core/transport/JMCCrashSender.m
JMCClasses-14.08.25/Core/transport/JMCCrashTransport.h
JMCClasses-14.08.25/Core/transport/JMCCrashTransport.m
JMCClasses-14.08.25/Core/transport/JMCCreateIssueDelegate.h
JMCClasses-14.08.25/Core/transport/JMCCreateIssueDelegate.m
JMCClasses-14.08.25/Core/transport/JMCIssueTransport.h
JMCClasses-14.08.25/Core/transport/JMCIssueTransport.m
JMCClasses-14.08.25/Core/transport/JMCPing.h
JMCClasses-14.08.25/Core/transport/JMCPing.m
JMCClasses-14.08.25/Core/transport/JMCReplyDelegate.h
JMCClasses-14.08.25/Core/transport/JMCReplyDelegate.m
JMCClasses-14.08.25/Core/transport/JMCReplyTransport.h
JMCClasses-14.08.25/Core/transport/JMCReplyTransport.m
JMCClasses-14.08.25/Core/transport/JMCTransport.h
JMCClasses-14.08.25/Core/transport/JMCTransport.m
JMCClasses-14.08.25/Core/transport/JMCTransportOperation.h
JMCClasses-14.08.25/Core/transport/JMCTransportOperation.m
JMCClasses-14.08.25/Core/views/JMCScrollViewContainer.h
JMCClasses-14.08.25/Core/views/JMCScrollViewContainer.m
JMCClasses-14.08.25/Core/views/JMCToolbarButton.h
JMCClasses-14.08.25/Core/views/JMCToolbarButton.m
JMCClasses-14.08.25/Core/views/UILabel+JMCVerticalAlign.h
JMCClasses-14.08.25/Core/views/UILabel+JMCVerticalAlign.m
JMCClasses-14.08.25/Core/views/UIView+JMCAdditions.h
JMCClasses-14.08.25/Core/views/UIView+JMCAdditions.m
JMCClasses-14.08.25/LICENSES
JMCClasses-14.08.25/Libraries/CrashReporter.framework/CrashReporter
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Headers
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Resources
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/CrashReporter
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/CrashReporter.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReport.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportApplicationInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportBinaryImageInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportExceptionInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportFormatter.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportMachineInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportProcessInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportProcessorInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportSignalInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportSystemInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportTextFormatter.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportThreadInfo.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReporter.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReporterNamespace.h
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/A/Resources/Info.plist
JMCClasses-14.08.25/Libraries/CrashReporter.framework/Versions/Current
JMCClasses-14.08.25/Resources/Balloon_1.png
JMCClasses-14.08.25/Resources/Balloon_1_ios7.png
JMCClasses-14.08.25/Resources/Balloon_2.png
JMCClasses-14.08.25/Resources/Balloon_2_ios7.png
JMCClasses-14.08.25/Resources/audio_attachment.png
JMCClasses-14.08.25/Resources/audio_attachment@2x.png
JMCClasses-14.08.25/Resources/background_overlay.png
JMCClasses-14.08.25/Resources/background_overlay@2x.png
JMCClasses-14.08.25/Resources/bluedot.png
JMCClasses-14.08.25/Resources/button_base.png
JMCClasses-14.08.25/Resources/button_base@2x.png
JMCClasses-14.08.25/Resources/cancel.png
JMCClasses-14.08.25/Resources/de.lproj/JMCLocalizable.strings
JMCClasses-14.08.25/Resources/en.lproj/JMCLocalizable.strings
JMCClasses-14.08.25/Resources/icon_capture.png
JMCClasses-14.08.25/Resources/icon_capture@2x.png
JMCClasses-14.08.25/Resources/icon_record.png
JMCClasses-14.08.25/Resources/icon_record@2x.png
JMCClasses-14.08.25/Resources/icon_record_1.png
JMCClasses-14.08.25/Resources/icon_record_1@2x.png
JMCClasses-14.08.25/Resources/icon_record_2.png
JMCClasses-14.08.25/Resources/icon_record_2@2x.png
JMCClasses-14.08.25/Resources/icon_record_3.png
JMCClasses-14.08.25/Resources/icon_record_3@2x.png
JMCClasses-14.08.25/Resources/icon_record_4.png
JMCClasses-14.08.25/Resources/icon_record_4@2x.png
JMCClasses-14.08.25/Resources/icon_record_5.png
JMCClasses-14.08.25/Resources/icon_record_5@2x.png
JMCClasses-14.08.25/Resources/icon_record_6.png
JMCClasses-14.08.25/Resources/icon_record_6@2x.png
JMCClasses-14.08.25/Resources/icon_record_7.png
JMCClasses-14.08.25/Resources/icon_record_7@2x.png
JMCClasses-14.08.25/Resources/icon_record_8.png
JMCClasses-14.08.25/Resources/icon_record_8@2x.png
JMCClasses-14.08.25/Resources/icon_record_active.png
JMCClasses-14.08.25/Resources/icon_record_active@2x.png
JMCClasses-14.08.25/Resources/icon_record_pulse.png
JMCClasses-14.08.25/Resources/icon_record_pulse@2x.png
JMCClasses-14.08.25/Resources/icon_recording.png
JMCClasses-14.08.25/Resources/icon_recording@2x.png
JMCClasses-14.08.25/Resources/megaphone.png
JMCClasses-14.08.25/Resources/megaphone@2x.png
JMCClasses-14.08.25/Resources/notsent.png
JMCClasses-14.08.25/Resources/notsent@2x.png
JMCClasses-Old2/Base/JMC.h
JMCClasses-Old2/Base/JMC.m
JMCClasses-Old2/Base/JMCAttachmentItem.h
JMCClasses-Old2/Base/JMCAttachmentItem.m
JMCClasses-Old2/Base/JMCCustomDataSource.h
JMCClasses-Old2/Base/JMCMacros.h
JMCClasses-Old2/Base/JMCViewController.h
JMCClasses-Old2/Base/JMCViewController.m
JMCClasses-Old2/Base/JMCViewController.xib
JMCClasses-Old2/Core/attachments/JMCAttachmentsView.xib
JMCClasses-Old2/Core/attachments/JMCAttachmentsViewController.h
JMCClasses-Old2/Core/attachments/JMCAttachmentsViewController.m
JMCClasses-Old2/Core/attachments/JMCConsoleLogReader.h
JMCClasses-Old2/Core/attachments/JMCConsoleLogReader.m
JMCClasses-Old2/Core/audio/JMCRecorder.h
JMCClasses-Old2/Core/audio/JMCRecorder.m
JMCClasses-Old2/Core/crashes/CrashReporter.h
JMCClasses-Old2/Core/crashes/CrashReporter.m
JMCClasses-Old2/Core/database/JMCDatabase+JMCDatabaseAdditions.h
JMCClasses-Old2/Core/database/JMCDatabase+JMCDatabaseAdditions.m
JMCClasses-Old2/Core/database/JMCDatabase.h
JMCClasses-Old2/Core/database/JMCDatabase.m
JMCClasses-Old2/Core/database/JMCResultSet.h
JMCClasses-Old2/Core/database/JMCResultSet.m
JMCClasses-Old2/Core/image/UIImage+JMCAlpha.h
JMCClasses-Old2/Core/image/UIImage+JMCAlpha.m
JMCClasses-Old2/Core/image/UIImage+JMCResize.h
JMCClasses-Old2/Core/image/UIImage+JMCResize.m
JMCClasses-Old2/Core/image/UIImage+JMCRoundedCorner.h
JMCClasses-Old2/Core/image/UIImage+JMCRoundedCorner.m
JMCClasses-Old2/Core/inbox/JMCIssuePreviewCell.h
JMCClasses-Old2/Core/inbox/JMCIssuePreviewCell.m
JMCClasses-Old2/Core/inbox/JMCIssuePreviewCell.xib
JMCClasses-Old2/Core/inbox/JMCIssueStore.h
JMCClasses-Old2/Core/inbox/JMCIssueStore.m
JMCClasses-Old2/Core/inbox/JMCIssueViewController.h
JMCClasses-Old2/Core/inbox/JMCIssueViewController.m
JMCClasses-Old2/Core/inbox/JMCIssueViewController.xib
JMCClasses-Old2/Core/inbox/JMCIssuesViewController.h
JMCClasses-Old2/Core/inbox/JMCIssuesViewController.m
JMCClasses-Old2/Core/inbox/JMCMessageBubble.h
JMCClasses-Old2/Core/inbox/JMCMessageBubble.m
JMCClasses-Old2/Core/inbox/JMCMessageCell.h
JMCClasses-Old2/Core/inbox/JMCMessageCell.m
JMCClasses-Old2/Core/inbox/JMCNotifier.h
JMCClasses-Old2/Core/inbox/JMCNotifier.m
JMCClasses-Old2/Core/model/JMCComment.h
JMCClasses-Old2/Core/model/JMCComment.m
JMCClasses-Old2/Core/model/JMCIssue.h
JMCClasses-Old2/Core/model/JMCIssue.m
JMCClasses-Old2/Core/queue/JMCQueueItem.h
JMCClasses-Old2/Core/queue/JMCQueueItem.m
JMCClasses-Old2/Core/queue/JMCRequestQueue.h
JMCClasses-Old2/Core/queue/JMCRequestQueue.m
JMCClasses-Old2/Core/sketch/JMCLine.h
JMCClasses-Old2/Core/sketch/JMCLine.m
JMCClasses-Old2/Core/sketch/JMCShape.h
JMCClasses-Old2/Core/sketch/JMCShapeView.h
JMCClasses-Old2/Core/sketch/JMCShapeView.m
JMCClasses-Old2/Core/sketch/JMCSketch.h
JMCClasses-Old2/Core/sketch/JMCSketch.m
JMCClasses-Old2/Core/sketch/JMCSketchContainerView.h
JMCClasses-Old2/Core/sketch/JMCSketchContainerView.m
JMCClasses-Old2/Core/sketch/JMCSketchScrollView.h
JMCClasses-Old2/Core/sketch/JMCSketchScrollView.m
JMCClasses-Old2/Core/sketch/JMCSketchView.h
JMCClasses-Old2/Core/sketch/JMCSketchView.m
JMCClasses-Old2/Core/sketch/JMCSketchViewController.h
JMCClasses-Old2/Core/sketch/JMCSketchViewController.m
JMCClasses-Old2/Core/sketch/JMCSketchViewController.xib
JMCClasses-Old2/Core/sketch/JMCSketchViewControllerDelegate.h
JMCClasses-Old2/Core/sketch/JMCSketchViewControllerFactory.h
JMCClasses-Old2/Core/sketch/JMCSketchViewControllerFactory.m
JMCClasses-Old2/Core/sketch/JMCVector.h
JMCClasses-Old2/Core/sketch/JMCVector.m
JMCClasses-Old2/Core/sketch/JMCVectorView.h
JMCClasses-Old2/Core/sketch/JMCVectorView.m
JMCClasses-Old2/Core/transport/JMCCrashSender.h
JMCClasses-Old2/Core/transport/JMCCrashSender.m
JMCClasses-Old2/Core/transport/JMCCrashTransport.h
JMCClasses-Old2/Core/transport/JMCCrashTransport.m
JMCClasses-Old2/Core/transport/JMCCreateIssueDelegate.h
JMCClasses-Old2/Core/transport/JMCCreateIssueDelegate.m
JMCClasses-Old2/Core/transport/JMCIssueTransport.h
JMCClasses-Old2/Core/transport/JMCIssueTransport.m
JMCClasses-Old2/Core/transport/JMCPing.h
JMCClasses-Old2/Core/transport/JMCPing.m
JMCClasses-Old2/Core/transport/JMCReplyDelegate.h
JMCClasses-Old2/Core/transport/JMCReplyDelegate.m
JMCClasses-Old2/Core/transport/JMCReplyTransport.h
JMCClasses-Old2/Core/transport/JMCReplyTransport.m
JMCClasses-Old2/Core/transport/JMCTransport.h
JMCClasses-Old2/Core/transport/JMCTransport.m
JMCClasses-Old2/Core/transport/JMCTransportOperation.h
JMCClasses-Old2/Core/transport/JMCTransportOperation.m
JMCClasses-Old2/Core/views/JMCScrollViewContainer.h
JMCClasses-Old2/Core/views/JMCScrollViewContainer.m
JMCClasses-Old2/Core/views/JMCToolbarButton.h
JMCClasses-Old2/Core/views/JMCToolbarButton.m
JMCClasses-Old2/Core/views/UILabel+JMCVerticalAlign.h
JMCClasses-Old2/Core/views/UILabel+JMCVerticalAlign.m
JMCClasses-Old2/Core/views/UIView+JMCAdditions.h
JMCClasses-Old2/Core/views/UIView+JMCAdditions.m
JMCClasses-Old2/LICENSES
JMCClasses-Old2/Libraries/CrashReporter.framework/CrashReporter
JMCClasses-Old2/Libraries/CrashReporter.framework/Headers
JMCClasses-Old2/Libraries/CrashReporter.framework/Resources
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/CrashReporter
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/CrashReporter.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReport.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportApplicationInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportBinaryImageInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportExceptionInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportFormatter.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportMachineInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportProcessInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportProcessorInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportSignalInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportSystemInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportTextFormatter.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReportThreadInfo.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Headers/PLCrashReporter.h
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/A/Resources/Info.plist
JMCClasses-Old2/Libraries/CrashReporter.framework/Versions/Current
JMCClasses-Old2/Libraries/Reachability/Reachability.h
JMCClasses-Old2/Libraries/Reachability/Reachability.m
JMCClasses-Old2/Resources/Balloon_1.png
JMCClasses-Old2/Resources/Balloon_2.png
JMCClasses-Old2/Resources/audio_attachment.png
JMCClasses-Old2/Resources/audio_attachment@2x.png
JMCClasses-Old2/Resources/background_overlay.png
JMCClasses-Old2/Resources/background_overlay@2x.png
JMCClasses-Old2/Resources/bluedot.png
JMCClasses-Old2/Resources/button_base.png
JMCClasses-Old2/Resources/button_base@2x.png
JMCClasses-Old2/Resources/cancel.png
JMCClasses-Old2/Resources/de.lproj/JMCLocalizable.strings
JMCClasses-Old2/Resources/en.lproj/JMCLocalizable.strings
JMCClasses-Old2/Resources/icon_capture.png
JMCClasses-Old2/Resources/icon_capture@2x.png
JMCClasses-Old2/Resources/icon_record.png
JMCClasses-Old2/Resources/icon_record@2x.png
JMCClasses-Old2/Resources/icon_record_1.png
JMCClasses-Old2/Resources/icon_record_1@2x.png
JMCClasses-Old2/Resources/icon_record_2.png
JMCClasses-Old2/Resources/icon_record_2@2x.png
JMCClasses-Old2/Resources/icon_record_3.png
JMCClasses-Old2/Resources/icon_record_3@2x.png
JMCClasses-Old2/Resources/icon_record_4.png
JMCClasses-Old2/Resources/icon_record_4@2x.png
JMCClasses-Old2/Resources/icon_record_5.png
JMCClasses-Old2/Resources/icon_record_5@2x.png
JMCClasses-Old2/Resources/icon_record_6.png
JMCClasses-Old2/Resources/icon_record_6@2x.png
JMCClasses-Old2/Resources/icon_record_7.png
JMCClasses-Old2/Resources/icon_record_7@2x.png
JMCClasses-Old2/Resources/icon_record_8.png
JMCClasses-Old2/Resources/icon_record_8@2x.png
JMCClasses-Old2/Resources/icon_record_active.png
JMCClasses-Old2/Resources/icon_record_active@2x.png
JMCClasses-Old2/Resources/icon_record_pulse.png
JMCClasses-Old2/Resources/icon_record_pulse@2x.png
JMCClasses-Old2/Resources/icon_recording.png
JMCClasses-Old2/Resources/icon_recording@2x.png
JMCClasses-Old2/Resources/megaphone.png
JMCClasses-Old2/Resources/megaphone@2x.png
JMCClasses-Old2/Resources/notsent.png
JMCClasses-Old2/Resources/notsent@2x.png
Appirater/Appirater.podspec.json
Appirater/CHANGELOG.md
Appirater/README.md
Flurry.4.0.0/Flurry.h
Flurry.4.0.0/libFlurry.a
~Google-Mobile-Ads-SDK

# ── 배포 자동화 (2026-09-19) ──────────────────────────────────────────
# App Store Connect API 키 — **절대 커밋하지 않는다.**
# 이 키 하나로 앱 업로드·심사 제출이 가능하다.
AuthKey_*.p8

# fastlane 산출물
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
*.ipa
*.app.dSYM.zip
*.mobileprovision
